@font-face {
    font-family: 'roboto_condensedregular';
    src: url('RobotoCondensed-Regular-webfont.eot');
    src: url('RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedlight';
    src: url('RobotoCondensed-Light-webfont.eot');
    src: url('RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoCondensed-Light-webfont.woff') format('woff'),
         url('RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('RobotoCondensed-Bold-webfont.eot');
    src: url('RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
margin:0;
padding:0;
background:url(/template3/reseller_1/img/linen.png) 0 0 #ebebeb;
font-family: 'roboto_condensedregular', sans-serif;
font-size:14px;
position:absolute;
width:100%;
height:100%;
min-height:100%;
}

html {
color:#666666;
height:100%;
font-size:16px;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}


div {border:0}

a:link {color:#517840}
a:visited {color:#517840}
a:hover {color:#85b770}
a:active {color:#85b770}

b.prefix {display:inline; font-size:22px; font-weight:normal; margin-right:2px}

#noscript {color:red}
#ClearAll {display:none}


#form1 label {display:none !important}

.form_name {float:left; width:150px; font-weight:normal; text-shadow: 0px 1px 1px #fff; clear:left; margin-bottom:4px;}
.form_pole1{float:left; padding:0; margin-bottom:4px;}
.form_pole1 input  {width:350px; margin-bottom:10px;}
span.mstar {position:relative; display:inline-block; float:right !important; margin:0 !important; margin-right:10px !important; color:red; font-size:18px}
.fieldr {border:1px dashed red !important}
.fieldr:hover {border:1px dashed green !important}

div.form_pole1 img {display:block; float:right; margin-left:20px}
div.form_pole1 label.valid {border:0; display:none !important}

.off, .BPass.valid.off,.valid.off{background:#ebebeb !important; border:1px solid #c0c0c0 !important}

#Main {
width:600px;
margin:20px auto;
position:relative;
border:0;
-webkit-border-radius: 9px;
-webkit-border-top-left-radius: 12px;
-moz-border-radius: 9px;
-moz-border-radius-topleft: 12px;
border-radius: 9px;
border-top-left-radius: 12px;
margin-bottom:20px;
background:transparent;
}

#Header, #AssistLogo, #JustGreen, #JustGreen1, #MainContent, #Footer, #ButtonTheme, #CaptchaField, #OrderInfo, #secured_adv,#Adv, #CardBlock, #Buttons, #BillingData   {width:560px; padding:0; margin:0; display:block; float:left;
border:0;
margin-left:20px;
margin-top:10px;
}

#CardBlock {margin-left:0; margin-top:0}
#Header {border-bottom:0px solid #c0c0c0}
#OrderInfo  {font-size:14px; background:transparent; color:#333; text-shadow: 0px 1px 1px #fff; margin:0; margin-bottom:20px;}
#OrderInfo b {width:150px; display:block; float:left; font-weight:normal}

#JustGreen 	{position:relative; float:none; margin:40px auto; margin-top:60px;}

#JustGreen1 	{
border:1px solid #fff;
height:10px; display:block; margin-left:20px; float:left;
background: #fff;
-webkit-box-shadow: 0px 8px 8px rgba(50, 50, 50, 0.1);
-moz-box-shadow:    0px 8px 8px rgba(50, 50, 50, 0.1);
box-shadow:         0px 8px 8px rgba(50, 50, 50, 0.1);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
margin-top:20px;
}

/* #MainContent {border:0; margin-top:40px;} */

#Footer {height:25px; border:0; margin-left:0}
#Footer span {text-shadow: 0px 1px 1px #fff; color:#c0c0c0}

#AssistLogo {height:30px; clear:left; margin:20px 40px 0px 30px;}
#AssistLogo_right {width:150px; height:70px; float:left; display:block; border:0; margin:20px}
#AssistLogo_right  img {border:0; width:50px}
#CustomerLogo {width:200px; height:50px; float:right; border:0px solid blue; margin:0;}

#ErrorInfo  {width:150px; height:140px; float:left; display:block; border:1px solid #e9e9e9; margin:20px 20px 0px 0px; font-size:14px; background:#fff; text-align:center;
-webkit-border-radius:9px;
-moz-border-radius:9px;
border-radius:9px;

display:none;
}
#ErrorInfo span {color:red; text-align:center; margin-top:20px; display:block}
#CountDown {color:#333; position:absolute; margin-top:30px; margin-left:335px; z-index:10; width:200px; font-size:12px; display:block; text-shadow: 0px 1px 1px #fff; text-align:right}
#CountDown span {font-size:14px; color:green; display:inline; font-family: 'roboto_condensedbold'; white-space:nowrap}
#CountDown span.TimeOver{color:red}
#MerchantLogo  {float:left; display:block; margin:0px 20px 0px 20px; background:transparent; text-align:center; display:block;}
#MerchantLogo  span {margin-top:0px; display:block}
#CardType {display:block; float:right; margin-top:-35px; border:0; width:100px; height:60px; z-index:7; margin-right:30px;}
#CVCHelp {cursor:pointer; color:#c0c0c0; position:absolute; margin-top:100px; margin-left:315px; z-index:110; width:350px; height:230px; display:none; padding:8px; border:0;}
#CVCHelp img {width:260px; height:171px; border:0}
img.tip {cursor:pointer}

.Title1 {float:left; width:500px; border:0; display:block; padding:0}
.Title1 span {margin:0; display:block; color:#737373; text-shadow: 0 1px 1px #fff; font-size:20px; text-transform:uppercase; padding:0}

.Logo1 {text-align:right; position:absolute; margin-top:100px; margin-left:350px; z-index:1; width:190px; height:100px; font-size:12px; display:block; border:0px solid red}
.Logo1  img {margin:0; width:100px; border:0px solid gray}

span.TST {margin-left:300px; margin-top:20px; color:#c0c0c0; font-weight:bold; font-size:40px; text-transform:uppercase;
text-shadow: 0px 1px 1px #ccc,  1px 0px 1px #333}

#ico_100, #ico_9, #ico_99 , #ico_40, #ico_39, #ico_41, #ico_42, #ico_36, #ico_15, #ico_14, #ico_37, #ico_38, #ico_30, #ico_32, #ico_33, #ico_80
{overflow:hidden; display:block; border:0; float:left; margin-bottom:0px; margin-top:10px; margin-right:12px; padding:0;
background:transparent}

#ico_99 input, #ico_9 input , #ico_40 input, #ico_39 input, #ico_41 input, #ico_42 input, #ico_36 input, #ico_38 input,
#ico_15 input, #ico_14 input, #ico_37 input, #ico_30 input, #ico_32 input, #ico_33 input, #ico_100 input , #ico_80 input {
width:125px; height:80px; cursor:pointer; padding:0; display:block;
float:left; cursor:pointer; text-indent:180px; line-height:100px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border:1px solid #e5e5e5;
}

#ico_30 input 				{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -370px -80px no-repeat 	!important}
#ico_15 input				{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) 0px -155px no-repeat 	!important}
#ico_99  input  			{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -120px -80px no-repeat 	!important}
#ico_36  input  			{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -245px -80px no-repeat 	!important}
#ico_41  input  			{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -500px -80px no-repeat 	!important}
#ico_42  input  			{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -500px -318px no-repeat 	!important}
#ico_40  input  			{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -120px -155px no-repeat 	!important}
#ico_39  input  			{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -245px -155px no-repeat 	!important}
#ico_37 input				{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -370px -155px no-repeat 	!important}
#ico_38 input				{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -500px -240px no-repeat 	!important}
#ico_9 input				{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -500px -155px no-repeat 	!important}
#ico_14 input				{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) 0px -240px no-repeat 	!important}
#ico_32 input				{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -120px -240px no-repeat 	!important}
#ico_33 input				{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -370px -240px no-repeat 	!important}
#ico_100 input		 	{background:url(/template3/reseller_1/img/BtSpriteGray.jpg) -250px -240px no-repeat 	!important}

#ico_61 input		 	{background:url(/template2/reseller_1/img/BtSpriteGray.jpg) -250px -320px no-repeat 	!important}
#ico_62 input		 	{background:url(/template2/reseller_1/img/BtSpriteGray.jpg) -370px -320px no-repeat 	!important}


#ico_30 input:hover 			{background:url(/template3/reseller_1/img/BtSprite.jpg) -370px -80px no-repeat!important}
#ico_15 input:hover			{background:url(/template3/reseller_1/img/BtSprite.jpg) 0px -155px no-repeat 	!important}
#ico_99  input:hover  			{background:url(/template3/reseller_1/img/BtSprite.jpg) -120px -80px no-repeat!important}
#ico_36  input:hover  			{background:url(/template3/reseller_1/img/BtSprite.jpg) -245px -80px no-repeat 	!important}
#ico_41  input:hover  			{background:url(/template3/reseller_1/img/BtSprite.jpg) -500px -80px no-repeat 	!important}
#ico_42  input:hover  			{background:url(/template3/reseller_1/img/BtSprite.jpg) -500px -318px no-repeat 	!important}
#ico_40  input:hover  			{background:url(/template3/reseller_1/img/BtSprite.jpg) -120px -155px no-repeat 	!important}
#ico_39  input:hover  			{background:url(/template3/reseller_1/img/BtSprite.jpg) -245px -155px no-repeat 	!important}
#ico_37 input:hover			{background:url(/template3/reseller_1/img/BtSprite.jpg) -370px -155px no-repeat 	!important}
#ico_38 input:hover			{background:url(/template3/reseller_1/img/BtSprite.jpg) -500px -240px no-repeat 	!important}
#ico_9 input:hover			{background:url(/template3/reseller_1/img/BtSprite.jpg) -500px -155px no-repeat 	!important}
#ico_14 input:hover			{background:url(/template3/reseller_1/img/BtSprite.jpg) 0px -240px no-repeat 	!important}
#ico_32 input:hover			{background:url(/template3/reseller_1/img/BtSprite.jpg) -120px -240px no-repeat 	!important}
#ico_33 input:hover			{background:url(/template3/reseller_1/img/BtSprite.jpg) -370px -240px no-repeat 	!important}
#ico_100 input:hover		 	{background:url(/template3/reseller_1/img/BtSprite.jpg) -250px -240px no-repeat 	!important}

#ico_61 input:hover		 	{background:url(/template2/reseller_1/img/BtSprite.jpg) -250px -320px no-repeat 	!important}
#ico_62 input:hover		 	{background:url(/template2/reseller_1/img/BtSprite.jpg) -370px -320px no-repeat 	!important}


#logo_adv {height:30px; margin-left:5px; margin-top:5px; display:block; float:left; border:0px solid red}
#Adv {background:transparent;  margin-left:0}

#secured_adv {height:125px; margin-left:0; background:url(/template3/reseller_1/img/secured-by-full.png) 0 0 no-repeat; margin-top:20px}

/* #secured_adv:hover {height:50px; margin-left:0; background:url(/template3/reseller_1/img/secured-by-full.png) 0 0 no-repeat; margin-top:20px} */
/* -------------- 3_XX -------------------*/
#CardBlock {margin-left:0; margin-top:0; min-height:300px;}

#Front, #Rear {
background:transparent;
width:340px;
height:210px;
padding:0;
-webkit-border-radius:12px;
-moz-border-radius:12px;
border-radius:1.1em;
border:0;
-webkit-box-shadow: 0px 10px 9px rgba(41, 75, 41, 0.16);
-moz-box-shadow:    0px 10px 9px rgba(41, 75, 41, 0.16);
box-shadow:         0px 10px 9px rgba(41, 75, 41, 0.16);
}
#Front
{
background:url(/template3/reseller_1/img/bgrfront.png) 0 0 no-repeat transparent;
display:block;
float:left;
z-index:4;
text-align:right;
color:#333;
position:absolute;
z-index:2;
}

#FrontFrom,#FrontTo
{
width:340px;
height:210px;
padding:0;
-webkit-border-radius:12px;
-moz-border-radius:12px;
border-radius:1.1em;
border:0;
background:url(/template3/reseller_1/img/bgrfront.png) 0 0 no-repeat transparent;
display:block;
float:left;
z-index:4;
color:#333;
padding-left:22px
}


#Rear
{
background:url(/template3/reseller_1/img/bgrback.png) 0 0 no-repeat transparent;
margin-top:45px;
margin-left:190px;
display:block;
z-index:1;
position:absolute;
}
#FrontLogo
{
position:absolute;
z-index:5;
top:0;
width:280px;
margin-top:20px;
margin-left:110px;
background:transparent;
}

#CurrentInfo {
-webkit-border-radius:9px;
-moz-border-radius:9px;
border-radius:9px;
display:block;
width:140px; height:238px;
float:left;
margin-top:40px;
}

#CurrentInfo {background:#fffadd;}

#CardNumberFieldVisa, #CardExpire, #CardHolderField , #CVCField {
	cursor:pointer;
	padding:0;
	border:0;
	margin:0;
	width:320px;
	margin-bottom:10px;
	display:block;
}

input, select , textarea{
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
padding:6px;
border:1px solid #c0c0c0;
font-size:16px;
font-family:inherit;
outline:none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}


form textarea {width:350px; height:140px;}


#CardNumberFull {position:absolute; margin-top:55px; margin-left:10px; z-index:10; font-size:14px; display:none; padding:8px; text-shadow: 0px 1px 1px #fff}
#CardNumberFull input {width:285px; font-weight:900}
#ErrorBlock {background:url(/template3/reseller_1/img/error-block-bgr.png) 0 0 no-repeat; position:absolute; width:220px; height:120px; margin-top:130px; margin-left:360px; z-index:10; font-size:14px; padding:8px; text-shadow: 0px 1px 1px #fff; color:red;}


#MainContent div.whitefon {width:500px; display:block; border:1px solid #c0c0c0; padding:8px 12px; border-radius:4px; margin-bottom:12px}
div.whitefon  font.red2 {color:red}
div.whitefon  font.red3 {color:green; font-size:12px; line-height:12px !important}
#CardBlock  div.whitefon {position:relative !important; margin:0 !important; border:0; width:560px !important; font-size:14px; padding:0 !important; text-shadow: 0px 1px 1px #fff; color:red}

#CardNumberFieldVisa  span, #CardHolderField  span, #CardExpire span {display:block; float:left; width:320px; color:#737373; text-shadow: 0 1px 1px #fff; margin-bottom:5px; font-size:11px; text-transform:uppercase}
#CardNumberFieldVisa  span {margin-top:16px}
#CVCField {display:block; width:380px; border:0; margin:0px; margin-top:90px; text-align:right; margin-right:30px}
#CVCField  input {margin-bottom:6px; margin-left:6px;}
#CVCField  span {display:block; width:200px; float:left; text-transform:uppercase; font-size:12px; color:#737373; text-shadow: 0 1px 1px #fff;}
#CVCField  img {display:block; width:32px; height:32px; float:right; margin-right:60px;}
#Rear span.never {text-align:left; display:block; margin-left:165px; padding:4px; width:150px; font-size:12px; text-transform:uppercase; color:#737373; text-shadow: 0 1px 1px #fff;}

.n_digit, #CVCField  input
{
margin-right:3px;
color:inherit;


width:66px !important;

text-align:center;
font-family: 'roboto_condensedbold',sans-serif;

background-image:none !important;


}

#CardExpire span {width:160px;}

#Cardholder, #CardNumber, #panFrom, #panTo {
width:298px;
font-family: 'roboto_condensedbold',sans-serif;
}

#CountryPhoneCode 	{margin-right:20px; display:block; float:left; padding:5px}
#QIWIMobilePhone {display:block; float:left}
.ResultPhone{clear:left; width:100%; height:20px; border:0; background:transparent; display:block; margin-bottom:10px;}

.form_pole2  #State, .form_pole2  #Country {width:362px; margin:2px 0 4px 0; float:left;}

#Buttons {margin-left:0; margin-bottom:60px; height:30px;}
#ButtonTheme {margin-left:0}

#ButtonTheme input{
float:left;
color:#fff;
background: #fff;
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d));
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
padding:6px 20px;
text-transform:uppercase;
letter-spacing:2px;

border:2px solid #f2f2f2;
cursor:pointer;
font-size:18px;
box-shadow:0px 0px 6px #DBDBDB;
font-family: 'roboto_condensedregular', sans-serif;
font-weight:bold;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-shadow:none;





}

#ButtonTheme input:hover{


background: #bfd255;
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 34%, #72aa00 62%, #9ecb2d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(34%,#8eb92a), color-stop(62%,#72aa00), color-stop(100%,#9ecb2d));
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 34%,#72aa00 62%,#9ecb2d 100%);
background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 34%,#72aa00 62%,#9ecb2d 100%);
background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 34%,#72aa00 62%,#9ecb2d 100%);
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 34%,#72aa00 62%,#9ecb2d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );

-pie-background: linear-gradient(#66ff66, #336633);





}

#ButtonTheme input.disabled, #ButtonTheme input.disabled:hover, #ButtonTheme input:disabled, #ButtonTheme input:disabled:hover{


background:#d5d5d5 !important;



cursor:default;



}

#ButtonTheme #button_cancel{
float:left; margin-left:10px;
color:#ffffff;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff9900), to(#cc6633));
background: -webkit-linear-gradient(#ff9900, #cc6633);
background: -moz-linear-gradient(#ff9900, #cc6633);
background: -ms-linear-gradient(#ff9900, #cc6633);
background: -o-linear-gradient(#ff9900, #cc6633);
background: linear-gradient(#ff9900, #cc6633);
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;

-pie-background: linear-gradient(#ff9900, #cc6633);
padding:6px;
text-transform:uppercase;
border:3px solid #f2f2f2;
cursor:pointer;
box-shadow:0px 0px 6px #DBDBDB;
}

#ButtonTheme #b_cancel input{
float:left; margin-left:10px;
color:#ffffff;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff9900), to(#cc6633));
background: -webkit-linear-gradient(#ff9900, #cc6633);
background: -moz-linear-gradient(#ff9900, #cc6633);
background: -ms-linear-gradient(#ff9900, #cc6633);
background: -o-linear-gradient(#ff9900, #cc6633);
background: linear-gradient(#ff9900, #cc6633);

-pie-background: linear-gradient(#ff9900, #cc6633);
padding:6px;
text-transform:uppercase;
border:3px solid #f2f2f2;
cursor:pointer
}

#ButtonTheme #b_cancel input:hover{
color:#ffffff;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffcc33), to(#cc6633));
background: -webkit-linear-gradient(#ffcc33, #cc6633);
background: -moz-linear-gradient(#ffcc33, #cc6633);
background: -ms-linear-gradient(#ffcc33, #cc6633);
background: -o-linear-gradient(#ffcc33, #cc6633);
background: linear-gradient(#ffcc33, #cc6633);

-pie-background: linear-gradient(#ffcc33, #cc6633);
padding:6px;
text-transform:uppercase;
border:3px solid #f2f2f2;
cursor:pointer
}


#ButtonTheme #button_cancel:hover{
color:#ffffff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
background: #ffa84c; /* Old browsers */
background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
padding:6px;
text-transform:uppercase;
border:3px solid #f2f2f2;
cursor:pointer
}

#ButtonTheme #BUTTON_PAYERDENIAL {

color:#ffffff;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffcc33), to(#cc6633));
background: -webkit-linear-gradient(#ffcc33, #cc6633);
background: -moz-linear-gradient(#ffcc33, #cc6633);
background: -ms-linear-gradient(#ffcc33, #cc6633);
background: -o-linear-gradient(#ffcc33, #cc6633);
background: linear-gradient(#ffcc33, #cc6633);

-pie-background: linear-gradient(#ffcc33, #cc6633);
padding:6px;
text-transform:uppercase;
border:3px solid #f2f2f2;
cursor:pointer

}

#BankNameField, #BillingData {margin-left:0px}

#BillingData span, #CaptchaField span {display:block; float:left; margin:0 10px 10px 0px}
#BillingData p {display:block; float:left; width:560px; font-size:14px;}
#CaptchaField span.Label {display:block; float:left; margin:0}
#AddFields	{width:560px;margin:0;float:left}
#AddFields  img {border:0; float:left; display:block; margin-top:0px; margin-left:10px;}
#AddFields span.Label {color:#333; border:0px solid red; display:block; float:left; margin:0; width:158px; text-indent:10px; margin-top:15px}

/* - operation order list - */
#ContInside {padding-top:0px; display:block; float:left; background:transparent; margin-bottom:10px;}
#ContInside label {display:block; width:220px; border-bottom:1px solid #c0c0c0; float:left; line-height:20px; font-size:12px; text-shadow: 1px 1px 0px #fff;}
#ContInside label.url{display:block; width:520px; height:20px; border:0; float:left; line-height:20px; border-bottom:1px solid #c0c0c0; font-size:11px; text-shadow: 1px 1px 0px #fff;}
#ContInside div {display:block; min-height:20px; width:298px;  border:0; float:left; font-size:14px; line-height:20px; border-bottom:1px solid #c0c0c0; text-shadow: 1px 1px 0px #fff;}
#ContInside div.url {display:block; width:520px;  border:0; float:left; font-size:12px; line-height:20px; border-bottom:1px solid #c0c0c0; text-shadow: 1px 1px 0px #fff; text-transform:none;}
#ContInside span {display:block; width:520px; height:auto; border:0; float:left; font-size:16px; text-shadow: 1px 1px 0px #fff; text-transform:uppercase; line-height:20px;}
#ContInside p  {display:block; width:520px; border:0; float:left; margin-left:10px; font-size:13px; text-shadow: 1px 1px 0px #fff; color:green}
#ContInside div span.result_text_green {color:green !important; display:block; width:298px;  border:0; float:left; font-size:14px;  text-shadow: 1px 1px 0px #fff; padding:0; margin:0;}
#ContInside div span.result_text_red {color:red !important; display:block; width:298px;  border:0; float:left; font-size:14px;  text-shadow: 1px 1px 0px #fff; padding:0; margin:0;}
#ContInside .b0 {border:0}
#ContInside .b1 {border:0; border-bottom:1px solid #c0c0c0; padding:0; width:520px; min-height:2px; height:2px; display:block; float:left;}
/* - ////// operation order list - */


/* - ���������� ����� ����� - */
#ContInside0 {display:block; float:left; background:transparent; border:0}
#ContInside0 label {display:block; width:260px; height:20px; float:left; line-height:20px; border-bottom:0; text-shadow: 1px 1px 0px #fff;}
#ContInside0 div {display:block; width:220px; height:20px; border:0; float:left; text-shadow: 1px 1px 0px #fff;}
#ContInside0 p  {display:block; width:520px; border:0; float:left; text-shadow: 1px 1px 0px #fff;}

#ContInside0 .form_name {float:left; line-height:16px; width:220px; height:40px; font-weight:normal; text-shadow: 0px 1px 1px #fff; border-bottom:1px solid #c0c0c0; clear:left;}
#ContInside0 .form_pole1{float:left; width:300px; height:40px; border-bottom:1px solid #c0c0c0;}
#ContInside0 .form_pole1 input  {margin-bottom:10px; padding-left:5px; padding-right:5px; color:#666666}
#ContInside0  #CVC2, #ContInside0  #psw_CVC2  {width:60px;}
#ContInside0 span.mstar {display:none}
#ContInside0 .fieldr {border:1px dashed red !important}
#ContInside0 .fieldr:hover {border:1px dashed green !important}


/* - ////// ���������� ����� ����� - */

#CaptchaField font {display:none}
#CaptchaField  input {float:left;}
input[NAME='CaptchaCode']{margin-top:16px; width:100px; font-size:18px; border:1px solid #c0c0c0; margin-bottom:6px; color:#666666; text-transform:uppercase; text-indent:12px}
#BankName {margin-top:20px; height:28px; width:365px; font-size:18px !important; margin-bottom:8px; padding-left:5px; padding-right:5px}

span.errormessage {
/* position:relative; */
background:red;
overflow:hidden;
display:none !important;
color:white;
width:80px !important;
font-size:12px! important;
line-height:14px;
text-transform:uppercase;
text-shadow:none !important;
text-align:center;
float:right !important;
display:block;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
padding:3px;
}
/* ---  �������� ������ --- */
#CardTypeField select {display:none}
span.CaptchaCode font {border:0px solid red; float:left; display:block; width:10px; height:10px;}

/*-- ������ --*/

#StampOk, #StampFail {position:absolute; top:0; left:0; margin-top:165px; margin-left:420px; width:118px; height:118px;}
#StampOk {background:url(/template3/reseller_1/img/logos/stampgreen.png) 0 0 no-repeat}
#StampFail {background:url(/template3/reseller_1/img/logos/stampred.png) 0 0 no-repeat}
#StampOk_e, #StampFail_e {position:absolute; top:0; left:0; margin-top:165px; margin-left:420px; width:118px; height:118px;}
#StampOk.steng_ok {background:url(/template3/reseller_1/img/logos/stampgreen_e.png) 0 0 no-repeat !important}
#StampFail.steng_no {background:url(/template3/reseller_1/img/logos/stampred_e.png) 0 0 no-repeat !important}



/* TESTMODE */
div.test {
position:absolute; top:0; left:0; margin-top:-10px; margin-left:490px; width:100px; height:16px; font-weight:bold; z-index:1000;
font-size:11px;
color:#ffffff;
background: #f3c5bd;
background: -moz-linear-gradient(top,  #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200));
background: -webkit-linear-gradient(top,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);
background: -o-linear-gradient(top,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);
background: -ms-linear-gradient(top,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);
background: linear-gradient(to bottom,  #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 );
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
padding:6px;
border:0;
}
iframe.hide {display:none}
#BillingData.hide {display:none}
div.hide {display:none}
div.show {display:block}

/* OneClick */
#radioBlock {float:left; margin-bottom:10px; clear:left}
#radioBlock input[type='radio'] {display:block; float:left; margin:10px; margin-top:0}
/*  SPASIBO */
#OperationPoints, #OperationPoints.valid {width:140px; height:42px; font-size:40px; font-weight:bold; border:0 !important; background:transparent; color:#239328; text-transform:uppercase; float:left; margin-right:10px; cursor:default; text-shadow:1px 1px 0px #fff; text-align:center;
}
#Ostatok, #Ostatok.valid {height:20px; font-size:14px; background:transparent; color:#239328; text-transform:uppercase; display:inline; margin-right:2px; cursor:default; text-shadow:1px 1px 0px #fff;
border:0}
span.kruk {display:block; font-size:14px !important; border:0; height:40px; float:left; margin:0 !important; width:250px; margin-bottom:30px !important;}
/* spasibo slider */

#SliderOver {width:510px; height:42px; overflow:hidden; border:0; padding:0; margin-bottom:10px; float:left}

.ui-slider {
	position: relative;
	border:0;
	width:446px;
	background:#c0c0c0;
	margin-top:10px;
	margin-bottom:20px;
	height:40px;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 64px;
	height: 32px;
	cursor: pointer;
	background: url(/template3/reseller_1/img/slider.png) 0 0 no-repeat;
	border:0px solid red;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .8em;
	display: block;
	border:0;
	background-position: 0 0;
	border:0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
	border:0;
}

.ui-slider-horizontal {
height: 18px;
border:1px solid #c0c0c0;
background: #bfd255;
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d));
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
cursor:pointer
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.6em;
	margin-left:-4px;
	padding:0;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 10px;

}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;

}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;

}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;

}


/* qtip qtip-cream */
.qtip qtip-cream {border:0 !important}
.qtip qtip-tip {border:0 !important}


div.qtip  div.qtip-content {
border:1px solid #333;
background: #f7e9c5 !important;
background: -moz-linear-gradient(top,  #f7e9c5 41%, #ffda7f 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(41%,#f7e9c5), color-stop(100%,#ffda7f)) !important;
background: -webkit-linear-gradient(top,  #f7e9c5 41%,#ffda7f 100%) !important;
background: -o-linear-gradient(top,  #f7e9c5 41%,#ffda7f 100%) !important;
background: -ms-linear-gradient(top,  #f7e9c5 41%,#ffda7f 100%) !important;
background: linear-gradient(to bottom,  #f7e9c5 41%,#ffda7f 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e9c5', endColorstr='#ffda7f',GradientType=0 ) !important;
-webkit-border-radius: 6px !important;
-moz-border-radius: 6px !important;
border-radius: 6px !important;
-webkit-box-shadow: 0px 8px 8px rgba(50, 50, 50, 0.1) !important;
-moz-box-shadow:    0px 8px 8px rgba(50, 50, 50, 0.1) !important;
box-shadow:         0px 8px 8px rgba(50, 50, 50, 0.1) !important;
}

#CHinfo {display:block; background:orange; width:246px; margin-left:40px; margin-top:2px;}
#CHinfo span  {font-size:11px; display:block; width:100%; margin:10px;}
#CHinfo .hide {display:none}

.ui-slider-handle {
counter-increment: MyHandle;
}
/*
.ui-slider-handle:before{
 content: counter(MyHandle);
}
*/
.ui-slider-handle:nth-child(2) { display: none; }
/* USHcont */


#SortCodeT {margin-top:10px; height:28px; width:365px; font-size:18px !important; padding-left:5px; padding-right:5px}
#BankCountryT {color:#6a6a6a; font-size:18px !important; margin-left:10px;}
#Bank_IDT {color:#6a6a6a; font-size:18px !important; margin-left:0; margin-top:10px}

/* OneClick */

#empDataU {
   display:block;
   position:absolute;
   text-decoration:none; width:170px; padding:16px;
   padding-top:42px;
   height:auto;
   background: #fbfbfb;
   box-shadow:0px 0px 6px #DBDBDB;
   border:1px solid #ccc;
   margin-top:75px;
   margin-left:316px;
   z-index:300;
   border-radius:6px;
   background: url(/template3/reseller_1/img/bgr_move.png) no-repeat top left #fff;
   cursor:pointer;
   }


#selCard a {display:block; cursor:pointer; text-decoration:none; border:0; width:170px; height:32px}

#DelCard, #UseCard, #UseCardOne {font-size:12px; display:block; float:right; color:#9c9d9f; text-decoration:none; border:1px solid #fff; width:140px; text-align:center; height:28px; line-height:26px; text-shadow:none; color:#fff; border-radius:6px; box-shadow:0px 0px 6px #DBDBDB;}
a.newcard {color:#fff; text-align:center; display:block; width:170px; border-radius:6px; height:32px; line-height:28px; border:1px solid #fff !important;
background: #c9de96;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhhYjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgyMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235));
background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
box-shadow:0px 0px 6px #DBDBDB;
}

#DelCard{
background: #feccb1;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlY2NiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNzQzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VhNTUwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjk1NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e));
background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 );
margin-left:12px;
}

#UseCard, #UseCardOne{
background: #c9de96;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhhYjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgyMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235));
background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
}

#ContInside0 div.ButtonBlock{width:320px; height:30px; border:0; float:right; margin-top:20px; margin-right:40px}

#loading { background:url(/template3/reseller_1/img/linen-opacity90.png) 0 0; border:0; text-align:center; top:0; left:0; position:absolute; z-index:1000; display:block; width:100%; height:100%; color:#000; color:green; font-size:20px}
#loading  img {margin-top:200px;}

#BannerBlock 		{margin-top:12px; padding:0; border:0 !important; width:520px; background:transparent; text-align:center}
#BannerBlock img 	{width:520px; display:block; float:left; margin-right:6px;  border:1px solid #e2e2e2;}
#BannerBlock span 	{display:block; font-size:11px; color:#444; margin: 6px auto; border:0; min-width:400px}

/* --- bankPage off ----- */
#BillingData.IssueBP .form_name input {width:180px !important}

.erip {display:block; padding:20px; border:2px solid green; text-align:center; border-radius:6px; font-size:18px; box-shadow:#c0c0c0;
-webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.45);
-moz-box-shadow:    0px 1px 11px 0px rgba(50, 50, 50, 0.45);
box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 0.45);
background:#fff;
width:480px;
}

/*  Beltelecom  */

.Btel {width:195px; margin:50px auto}
.Btel input[type="text"] {width:185px}

.Btel #ButtonTheme input  {width:195px}

#empClientU a {cursor:pointer; display:inline-block; width:100%; padding:4px 0 4px 0; border-bottom:1px dashed #ddd; font-size:18px}
#empClientU a:before {font-family: 'FontAwesome'; content:"\f007"; margin-top:3px; margin-right:12px; display:inline-block; padding:0;  float:left; height:22px; width:22px; border:0; overflow:hidden; color:#c0c0c0}
#empClientU, .period {margin-bottom:12px; margin-top:6px; font-weight:500}
#amount {width:180px}
#empPHONECLIENTINVOICES, #empDEPT {padding-bottom:6px}
#empPHONECLIENTINVOICES span, #empDEPT span ,#empACCOUNTNAME span {display:inline-block; width:195px; margin-bottom:6px; color:green}

a.ClientSelect {}
a.ClientSelect:before {font-family: 'FontAwesome'; content:"\f00c" !important; margin-right:10px; width:22px; border:0; overflow:hidden; color:green !important}

#CountDown {padding:0;border:0px solid red}
#CountDown span {vertical-align:top; display:inline-block; border:0px solid red; line-height:22px}
.fa.fa-times-circle-o {font-size:20px !important; color:#2196f3; color:#777666}
.fa.fa-clock-o {font-size:24px !important; color:green; margin-right:6px; margin-top:0px;}
.fa.fa-clock-o.red {color:red}

#ClearAll {display:block; cursor:pointer; border:0; margin-top:45px; margin-left:290px; width:20px; height:20px; position:absolute; z-index:100}


.f-req.valid {background:#ccffcc; border:1px solid #c0c0c0}
.cardholder.valid {background:#ccffcc; border:1px solid #c0c0c0}
.f-req.error {background:#ffffff; border:1px solid red}
.n_digit.f-req.errorfield , .n_digit.f-req.form-control.date_error{background:#ffffff; border:1px solid red}
.f-req.form-control.luhn_error{background:#ffffff; border:1px solid red}

.f-noreq.valid.cardholder {background:#fff}

.n_digit.f-req.valid.errorfield {border:1px solid #c0c0c0}


#psw_CVC2 {background:#fff}


span > b {font-family: 'roboto_condensedregular' !important; font-weight:normal;color:#333}

/*  DISCOUNT */

#discount, #gambling { font-size:16px; background:#fff; border:1px solid #c0c0c0; width:490px; display:block; float:left; padding:12px; padding-left:20px; margin:20px 0 0 0; border-radius:4px;
text-shadow: 0px 1px 1px #fff;
}
#gambling {border:1px solid #c0c0c0;}

#discount:before {color:#279cff; font-size:32px; font-family: 'FontAwesome'; content:"\f295" !important; line-height:54px; height:50px; overflow:hidden; margin-right:20px; display:block; float:left}
#gambling:before {color:#FFAA00; font-size:32px; font-family: 'FontAwesome'; content:"\f091" !important; line-height:54px; height:50px; overflow:hidden; margin-right:20px; display:block; float:left}


.form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #c0c0c0;
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ebebeb;
  outline: none;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.1);
}

.form-control::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.44;
}
/* IE */
.form-control:-ms-input-placeholder {
  color: inherit;
  opacity: 0.74;
}
/* Edge */
.form-control::-ms-input-placeholder {
  color: inherit;
  opacity: 0.44;
}

.form-control::placeholder {
  color: inherit;
  opacity: 0.44;
}

::-ms-clear {
  width : 0;
  height: 0;
}

.ButtonConfirm {margin-top:40px; margin-bottom:40px; cursor:pointer; margin-left:0px; width:300px; text-align:center; text-transform:uppercase; padding:12px; background:#00b06b; color:white; border-radius:2px; display:block; float:left}
.buttonBlock {display:block; float:left; width:260px; min-height:1px; margin:0 auto; border:0;}

.APB_cont img {width:100%; display:block; float:left; margin:0; padding:0; outline:none}
.buttonBlock {width:100%; text-align:center; display:block; margin-bottom:20px;}

.APB_cont {min-height:1px; width:240px; max-width:240px; padding:0; margin:0; display:block; margin-bottom:20px; clear:left; margin:0px auto;}
.APB_cont img {width:100%; display:block; float:left; margin:0; padding:0; outline:none}
.APB_cont.left {margin-left:0 !important}

.PayComment {
display:block; float:left; margin-bottom:20px; margin-top:20px; color:inherit; line-height:22px; padding:0;	clear:both;
}

#SPpaybutton {background:#000000; border-radius:4px; width:240px; min-height:40px; display:block; padding: 0px; margin:0 auto}
#SPpaybutton img {margin-top:7px}

#SPpaybutton {margin-top:20px}
#APpaybutton {margin-top:20px}
#ANpaybutton {margin-top:20px}

.PayComment a {display:inline-block; text-align:center; text-decoration:none; margin-top:14px; color:#017f78;}

.anotherpay {width:100%; display:block; float:left; text-align:center; color:#444444; border-bottom:1px solid #c0c0c0; font-size:.9rem; padding-bottom:20px;}
.m-select {
	font-style:normal;
    display:block;
	float:left;
	width:100%;
    /* background: #058fbc; */
	font-size:18px;
    font-weight:700;
	color:#444444;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
}
p.payInfo {text-align:center; display:block; float:left; width:100%; padding-top: 20px; border-top:1px solid #c0c0c0; clear:left}
/* Apple Pay */

@supports (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button-with-text {
        display: inline-block;
        -webkit-appearance: -apple-pay-button;
        -apple-pay-button-type: buy;
    }
    .apple-pay-button-with-text > * {
        display: none;
    }
    .apple-pay-button-black-with-text {
        -apple-pay-button-style: black;
    }
    .apple-pay-button-white-with-text {
        -apple-pay-button-style: white;
    }
    .apple-pay-button-white-with-line-with-text {
        -apple-pay-button-style: white-outline;
    }
}

@supports not (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button-with-text {
        --apple-pay-scale: 1; /* (height / 32) */
        display: inline-flex;
        justify-content: center;
        font-size: 12px;
        border-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        min-width: 240px;
        min-height: 40px;
        max-height: 64px;
    }
    .apple-pay-button-black-with-text {
        background-color: black;
        color: white;
    }
    .apple-pay-button-white-with-text {
        background-color: white;
        color: black;
    }
    .apple-pay-button-white-with-line-with-text {
        background-color: white;
        color: black;
        border: .5px solid black;
    }
    .apple-pay-button-with-text.apple-pay-button-black-with-text > .logo {
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
    }
    .apple-pay-button-with-text.apple-pay-button-white-with-text > .logo {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }
    .apple-pay-button-with-text.apple-pay-button-white-with-line-with-text > .logo {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }
    .apple-pay-button-with-text > .text {
        font-family: -apple-system;
        font-size: calc(1em * var(--apple-pay-scale));
        font-weight: 300;
        align-self: center;
        margin-right: calc(2px * var(--apple-pay-scale));
    }
    .apple-pay-button-with-text > .logo {
        width: calc(35px * var(--scale));
        height: 100%;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 0 50%;
        margin-left: calc(2px * var(--apple-pay-scale));
        border: none;
    }
}

.gpay-button {
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    height: 40px;
    min-height: 40px;
    padding: 11px 24px;
}

#PayButtonError {margin:12px auto; float:left; display:block; color: red; padding:12px 0; text-align:center; width:93%; border:1px solid red; border-radius:4px; font-weight:700}
.buttonBlock #PayButtonError {display:none}

#qrcode, canvas {visibility:hidden; display:none; float:left; padding:12px; background:#ffffff; border:1px solid #c0c0c0; margin-top:12px}