@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

header {
  font-family: 'Monoton', cursive;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: deepskyblue;
}